body{
    background-color: rgb(255, 241, 225);
    font-family: Verdana, "Times New Roman", sans-serif;
}

.title{
    color: rgb(212, 166, 105);
}

.center{
    text-align: center;
}

ul{
    font-size: 16px;
}